.Navbar{
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.nav-city-li{
    background-color:#D9D9D9;
    height: 35px;
    width: 90px;
    text-align: center;
    margin: 0 30px 0 3px;
    box-shadow:3px;
}


