.searchBar{
    width:90vw;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
    border-radius: 20px;
    padding: 24px;
    margin: 20px ;
}
.searchbar_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainSection{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.upper{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown_menu{
    border: 2px solid rgb(225, 231, 238);
    border-radius: 8px;
    height: 75px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    padding: 16px 18px 15px;
    width: 175px;
}
.dropdown_item{
    line-height: normal;
    font-size: 18px;
    font-weight: 600;
    color: rgb(20, 24, 35);
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    
}
.datePicker{
    border: 1px solid gray;
    border-radius: 10px;
}

@media screen and (max-width:980px){
    .mainSection{
        flex-direction: column;
    }
}
@media  screen and (max-width:500px) {
    .upper{
        flex-direction: column;
        justify-content: space-between;
    }
}